.hj-cropify {
  position: relative;
  user-select: none;

  &__container {
    &--block {
      display: block;
    }
    &--inline {
      display: inline-block;
    }
  }
  &__shade {
    position: absolute;
    z-index: 999;
    pointer-events: none;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5);
  }
  &__crop {
    position: absolute;
    z-index: 999;
    cursor: move;
    border: 1px dashed rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
  }
}
