<html ng-app="ExampleApp">

<head>

    <title>angular-cropify</title>

    <link rel="stylesheet" type="text/css" href="example/styles.css">

</head>

<body ng-controller="ExampleCtrl as ctrl">

    <hj-cropify coords="ctrl.coords" aspect-ratio="ctrl.aspectRatio">

        <div class="padding"></div>

        <img ng-src="example/test.jpg">

    </hj-cropify>

    <ul class="controls">
        <li><button ng-click="ctrl.coords = {}">Reset</button></li>
        <li><button ng-click="ctrl.setCrop()">Set Crop</button></li>
        <li>Aspect Ratio: <input type="number" ng-model="ctrl.aspectRatio" min="0"></li>
    </ul>

    <pre>{{ctrl.coords}}</pre>

    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="angular-cropify.js"></script>
    <script type="text/javascript" src="example/app.js"></script>

</body>

</html>
